head


    meta(charset='UTF-8')
    meta(name='description', content='Anke Carola Walter')
    meta(name='keywords', content='Anke Carola Walter')
    title Anke Carola Walter
    meta(property="og:image" content="img/icons/logo.png")
    meta(name='robots', content='index,follow')
    link(rel="icon" type="image/x-icon" href="img/favicon/favicon.ico")
    link(href="css/main.css" rel="stylesheet" type="text/css")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='format-detection', content='telephone=no')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
